---
import { Image, Link } from "@/components/atoms";
import { ExternalLinkIcon } from "@/components/icons";
import { site } from "@/constants";
import { getPagination } from "@/lib/collections";
import type { CachedBookmarkData } from "@/lib/raindrop";

interface Props {
  entries: CachedBookmarkData[];
  page?: number;
  isIndex: boolean;
}

const { entries, isIndex, page = 1 } = Astro.props;

const { paginatedEntries } = getPagination<CachedBookmarkData>({
  isIndex,
  entries,
  page,
  entriesPerPage: site.pages.bookmarks.entriesPerPage,
});
---

{
  entries.length === 0 ? (
    <p class="text-muted py-4 text-center">No hay elementos para mostrar.</p>
  ) : (
    <ul class="space-y-6 pt-4">
      {paginatedEntries?.map((item) => {
        return (
          <li class="w-full list-none space-y-0.5">
            <Link href={item.link} blank={true} className="group">
              <div class="flex gap-2 sm:gap-4">
                <div class="border-divider size-full max-h-8 max-w-8 flex-shrink-0 overflow-hidden rounded-full border-[1.5px] sm:max-h-12 sm:max-w-12">
                  {item.cover && (
                    <Image
                      src={item.cover}
                      alt={item.title}
                      className="aspect-square h-auto w-full object-cover"
                      loading="lazy"
                      width={46}
                      height={46}
                    />
                  )}
                </div>
                <div>
                  <div class="space-y-0.5">
                    <h2 class="group-hover:text-link flex w-full items-center gap-1 text-lg leading-tight">
                      <span class="line-clamp-1">{item.title}</span>

                      <ExternalLinkIcon className="inline-flex max-w-5 size-full" />
                    </h2>
                    {item.excerpt && (
                      <p class="text-muted mb-1.5 line-clamp-2 text-sm leading-normal">
                        {item.excerpt}
                      </p>
                    )}
                  </div>
                  {item.tags && (
                    <div class="space-x-1.5">
                      {item.tags.map((tag: string) => (
                        <span class="group-hover:!text-content bg-divider rounded-full px-1.5 py-0.5 text-xs">
                          {tag}
                        </span>
                      ))}
                    </div>
                  )}
                </div>
              </div>
            </Link>
          </li>
        );
      })}
    </ul>
  )
}
